.budget-container {
  width: 100%;
  margin: 0px auto 60px;
}

.budget-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.budget-wrapper {
  width: 642px;
  margin: 0px auto;
  background-color: #5a49a7;
  height: 4px;
  border-radius: 5px;
}

.thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  left: 0px;
  top: -10px;
  background: #5a49a7;
  cursor: pointer;
}

.budget-start p,
.budget-end p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #5a49a7;
}

.current-budget {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5a49a7;
  margin-bottom: 8px;
}

.budget-input {
  width: 40%;
  margin-bottom: 40px;
}

.budget-input input {
  background: #fcf9f9;
  border-radius: 12px;
  padding: 22px 30px;
  box-sizing: border-box;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #818183;
  width: 100%;
}
