.button {
  background-color: #364169;
  border: 0px;
  border-radius: 5px;
  letter-spacing: 2px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  padding: 20px 20px;
  font-family: "Barlow", sans-serif;
}
