.questions-container {
  padding: 32px;
}

.questions-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.questions-cont h2 {
  color: #091747;
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.questions-cont h2 span {
  font-weight: bold;
}

.questions-cont button {
  border: none;
  background-color: #ff914d;
  color: white;
  padding: 20px 0px;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 5px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 205px;
}

@media screen and (max-width: 600px) {
  .questions-container {
    padding: 32px 0px 16px;
  }

  .questions-cont {
    flex-direction: column;
  }

  .questions-cont button {
    width: 100%;
    margin-top: 15px;
  }
}
