.question-layout {
  width: 49%;
  max-width: 738px;
  margin: 60px auto;
}

.indicator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 28px;
}

.indicator-one {
  display: flex;
  align-items: center;
}

.indicator-one div {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #aaadb5;
}

.indicator-active {
  background: #5a49a7 !important;
}

.indicator-one div p {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.indicator-one h2 {
  font-family: "Inter", sans-serif;
  margin-left: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #aaadb5;
}

.text-active {
  color: #5a49a7 !important;
}

.question-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.question-layout-header > div > p:first-child {
  font-family: "Inter", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #5a49a7;
  cursor: pointer;
}

.question-layout-header > p:last-child {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #aaaaaa;
}

.next-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  color: #ff914d !important;
}

.question-layout > .question {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 40px;
  text-align: center;
  color: #ff914d;
}

.question-layout > .alerts {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 40px;
  color: #5a49a7;
}

@media screen and (max-width: 600px) {
  .question-layout {
    width: 78%;
    max-width: 100%;
  }
}
