.social-container > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #5a49a7;
}

.connect-link {
  display: flex;
  width: 53%;
  margin: 90px auto 5px;
  background: #fcf9f9;
  border-radius: 40px;
  padding: 22px 0px;
  align-items: center;
  justify-content: center;
}

.connect-link p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-right: 20px;
  color: #313131;
}

.quick-tips {
  display: flex;
  width: 46%;
  margin: 0px auto;
  align-items: center;
}

.quick-tips p {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-left: 6px;
  color: #5a49a7;
}

.social-container h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin: 94px 0px 10px;
  color: #5a49a7;
}

@media screen and (max-width: 600px) {
  .connect-link,
  .quick-tips {
    width: 100%;
  }
}
